.about {
  padding: 40vh 0 ;
  margin-top: 100px ;
  background-image: url('https://www.mea.com.lb/images/covid_hp.jpg') ;
  background-position: right ;
  background-repeat: no-repeat;
  position: relative;
  z-index: 100 ;
}
.about > img {
  display: none  ;
  width: 100% ;
  min-height: 240px ;
  margin-bottom: 40px ;
  object-fit: contain ;
}
.about-container {
  display: flex ;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 6vw ;
  position: relative;
  z-index: 15 ;
}
.about::before {
  content: '' ;
  position: absolute;
  left: 0 ;
  top: 0 ;
  bottom: 0 ;
  height: 100% ;
  width: 100% ;
  z-index: 1 ;
  background: linear-gradient(to right , white 33%, transparent ) ;
}
.about-container > h1 {
  font-size: 3.2rem ;
  color: #3D3D3F ;
  font-weight: 400 ;
}
.about-container > h1, p {
  margin-bottom: 30px ;
  line-height: 30px ;
}


@media screen and (max-width: 1130px) {
  .about-container {
    margin-top: 0 ;
  }
}
@media screen and (max-width:780px) {
  .about {
    background-image: url('') ;
    display: flex ;
    flex-direction: column ;
    padding: 0 ;
  }
  .about::before {
    display: none ;
  }
  .about > img {
    display: block ;
  }
  .aboout-container {
    padding-left: 2vw ;
  }
  .about-container > h1 {
    font-size: 2rem ;
    margin-bottom: 10px ;
  }
}
