.flights {
  margin: 25vh 20px ;
}

.slider {
  height : 85vh ;
  position: relative;
}
.slider-sidebar {
  position: absolute ;
  top: 0 ;
  left: 0 ;
  bottom: 0 ;
  background-color: rgba(0,0,0,.5) ;
  z-index: 3 ;
  width: 30% ;
  padding-top: 70px ;
  max-width: 400px ;
}
.slider .swiper-container {
  height: 100% ;
}

.swiper-slide > img {
  width: 100% ;
  height: 100% ;
  object-fit: cover ;
  transition: .3s ease-out ;
}
.swiper-slide:hover > img {
  transform: scale(1.08) ;
}

.slider-details {
  position: absolute ;
  top: 50% ;
  right: 35px ;
  transform: translate(0 , -50% ) ;
  background-color: rgba(0,0,0,.6) ;
  color: white ;
  padding: 10px 25px ;
  width: 470px  ;
  min-width: 400px ;
}
.slider-details > p:first-child {
  margin-left: auto ;
  width: 190px ;
  margin-bottom: 15px ;
}

.slider-details > h1 {
  font-weight: 500 ;
  font-size: 3rem ;
}
.slider-book {
  display: flex ;
  align-items: flex-end ;
  justify-content: space-between ;
  padding-top: 40px ;
  padding-bottom: 10px ;
}
.fligths > h1 {
  font-size: 4rem ;
  color: #252829 ;
  margin: 20px 0 ;
}
.slider .swiper-button-next , .swiper-button-prev {
  display: none !important ;
}
.slider-book span {
  cursor: pointer ;
  text-decoration: underline ;
  font-size: 13px
}
.slider-book span:hover {
  text-decoration: none ;
}



@media screen and (max-width:1130px) {
  .slider .swiper-button-next , .swiper-button-prev {
    display: block !important ;
  }
}
