.flights {
  margin: 25vh 20px ;
}

.slider {
  height : 85vh ;
  position: relative;
}
.slider-sidebar {
  position: absolute ;
  top: 0 ;
  left: 0 ;
  bottom: 0 ;
  background-color: rgba(0,0,0,.5) ;
  z-index: 3 ;
  width: 30% ;
}
.slider .swiper-container {
  height: 100% ;
}
.swiper-slide {
  cursor: grab ;
}
.swiper-slide > img {
  width: 100% ;
  height: 100% ;
  object-fit: cover ;
  transition: .3s ease-out ;
  cursor: grabbing;
}
.swiper-slide:hover > img {
  transform: scale(1.08) ;
}
.slider-details {
  position: absolute ;
  top: 50% ;
  right: 35px ;
  transform: translate(0 , -50% ) ;
  background-color: rgba(0,0,0,.5) ;
  width: 35% ;
  color: white ;
  padding: 10px ;
}
.slider-details > p:first-child {
  margin-left: auto ;
  width: 190px ;

}
.slider-details > p {
  margin-top: 10px ;
  margin-bottom: 10px ;
}
.slider-details > h1 {
  font-weight: 800 ;
  font-size: 3rem ;
}
.slider-book {
  display: flex ;
  align-items: flex-end ;
  justify-content: space-between ;
  padding: 20px ;
}
.fligths > h1 {
  font-size: 4rem ;
  color: #252829 ;
  margin: 20px 0 ;
}
.slider .swiper-button-next , .swiper-button-prev {
  display: none !important ;
}


@media screen and (max-width:1130px) {
  .slider .swiper-button-next , .swiper-button-prev {
    display: block !important ;
  }
}
