.header {
  display: flex ;
  align-items: center ;
  justify-content: space-between ;
  background-color: transparent ;
  padding: 0 23px ;
  transition: all .4s ease-out ;
  position: relative;
  height: 70px ;
  z-index: 2 ;
}
.header-sticky {
  position: sticky ;
  top: 0 ;
  right: 0 ;
  left: 0 ;
  background-color: white ;
  z-index: 200 ;
  box-shadow: 0 3px 7px -5px rgb(0 0 0 / 75%);
}
.left-header > img {
  object-fit: contain;
}

.left-header > img:nth-child(2) {
  max-width: 13.5vw ;
  height: 45px ;
  position: relative;
  cursor: pointer ;
}


.left-header > img:last-child {
  height: 35px ;
}
.search-svg {
  display: none ;
  color: black ;
  width: 35px ;
  height: 35px ;
}
@media screen and (max-width: 1130px) {
  .search-svg {
    display: block ;
  }
}


@media screen and (max-width: 720px) {
  .left-header > img:nth-child(2) {
    height: 35px ;
    max-width: 80px ;
  }
  .left-header > img:last-child {
    height: 35px ;
  }
}
@keyframes fade {
  0% {
    opacity: 0 ;
    display: none ;
    z-index: -5 ;
  }
  50% {
    opacity: .5 ;
    display: block ;
  }
  100% {
    opacity: 1 ;
    display: block ;
    z-index: 400 ;
  }
}
