.header {
  display: flex ;
  align-items: center ;
  justify-content: space-between ;
  background-color: transparent ;
  padding: 23px ;
  transition: .3s ease-out ;
  position: relative;
  padding-bottom: 0 ;
  height: 90px ;
}

.left-header > img {
  object-fit: contain;
}

.left-header > img:nth-child(2) {
  max-width: 14vw ;
  height: 45px ;
  position: relative;
  cursor: pointer ;
}


.left-header > img:last-child {
  height: 45px ;
}
.search-svg {
  display: none ;
  color: white ;
  width: 35px ;
  height: 35px ;
}
@media screen and (max-width: 1130px) {
  .search-svg {
    display: block ;
  }
}


@media screen and (max-width: 720px) {
  .left-header > img:nth-child(2) {
    height: 35px ;
    max-width: 80px ;
  }
  .left-header > img:last-child {
    height: 35px ;
  }
}
