.home {
  height: 100vh ;
  font-family: 'Roboto', sans-serif;
  transition:  .3s ease-in ;
  background-color: transparent ;
  position: relative;
  z-index: 5 ;
}
.cont:hover > div {
  transform: translateY(-60px);
}

@media screen and (max-width: 1130px) {
  .cont:hover > div {
    transform: none ;
  }
}
